@use 'variables' as *

.advantage
  padding-top: 32px

  &__card
    border-radius: 0
    border-color: $accent-color
    text-align: center

    .card-header
      background: $accent-color
      border-radius: 0
      p
        font-weight: 600
    .card-body
      color: $primary-color
      font-weight: 600
