@keyframes tracking-in-expand
  0%
    letter-spacing: -0.5em
    opacity: 0
  40%
    opacity: 0.6
  100%
    opacity: 1

@keyframes fa-shake
  0%
    transform: rotate(-15deg)
  4%
    transform: rotate(15deg)
  8%, 24%
    transform: rotate(-18deg)
  12%, 28%
    transform: rotate(18deg)
  16%
    transform: rotate(-22deg)
  20%
    transform: rotate(22deg)
  32%
    transform: rotate(-12deg)
  36%
    transform: rotate(12deg)
  40%, 100%
    transform: rotate(0deg)
