@use 'variables' as *

.callback
  padding-top: 32px
  color: $primary-color
  font-weight: 500

  .wrapper
    background: $accent-color
    padding: 32px 0

  &__header
    background: $primary-color
    color: $secondary-color
    margin-bottom: 8px

    h3
      font-weight: 600

    p
      color: $accent-color

  &__form
    width: 100%
    max-width: 435px
    margin: auto

    input, select, span
      border-radius: 0
      background: $bg-light

      &:focus
        border-color: $primary-color
        box-shadow: 0 0 0 .15rem $primary-coloropacity-3

    input[type='checkbox'], button[type='submit']

      &:focus
        border: none
        box-shadow: none

    .form-check-label
      font-size: 12px

    button
      background: $primary-color
      color: $secondary-color
      border-radius: 0
      font-weight: 600
      font-size: 16px
      transition: 0.5s
      height: 44px

      &:hover
        color: $accent-color
        transform: scale(1.05)

        @media (max-width: 999px)

          &:hover
            
            transform: scale(1)
