@use 'variables' as *

.header

  a
    color: $secondary-color


    &:hover:not(.header__link--active)
      
      color: $accent-color

    &:active
      color: $secondary-color
        
      
  nav
    background: $primary-color
    border-bottom: 1px solid $accent-color

  &__link--active
    font-weight: bold
    text-decoration: underline
    
    &:hover
      color: $secondary-color

  &__logo
    width: 50px
    @media (max-width: 500px)
      width: 40px

  span
    font-family: $family-base
    letter-spacing: 1.5px
    font-size: 20px

    @media (max-width: 500px)
      font-size: 16px

      @media (max-width: 500px)
        display: none

  &__tel
    text-decoration: none
    font-weight: 600
    font-size: 18px
    letter-spacing: 2px

  &__btn
    // font-size: calc(0.8em + 0.5vw)
    width: 40px
    height: 40px
    border: 1px solid $accent-color
    transition: .3s
    
    cursor: pointer

    &:hover
      transform: scale(1.2)

  &__btn--telegram
    background: url(../icon/telegram_ico_orange.png) no-repeat 4px/80%
  &__btn--whatsup
    background: url(../icon/whatsapp_ico_orange.png) no-repeat 4px/80%
  &__btn--max
    background: url(../icon/max_ico_orange.png) no-repeat 4px/80%

  &__offcanvas
    background: $tertiary-color
    color: $secondary-color
    font-size: 18px
    font-weight: 600

    button
      background: none
      border: none

    