@use 'variables' as *

.hero
  width: 100%
  height: calc(100vh - 150px)
  height: calc(100dvh - 150px)
  min-height: 600px
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 100%), url('../img/hero.webp') center/cover no-repeat

  @media (max-width: 999px)
    height: calc(100vh - 79.92px)
    height: calc(100dvh - 79.92px)

  @media (max-width: 500px)
    height: calc(100vh - 61.66px)
    height: calc(100dvh - 61.66px)

  &__wrapper
    height: calc(100vh - 97px)
    height: calc(100dvh - 97px)

    @media (max-width: 999px)
      height: calc(100vh - 97px)
      height: calc(100dvh - 97px)

    @media (max-width: 500px)
      height: calc(100vh - 97px)
      height: calc(100dvh - 97px)

  &__descr
    text-align: center
  h2
    color: $secondary-color

  &__form

    width: 100%
    max-width: 530px
    margin: 24px auto
    // margin-bottom: 32px
    text-align: center
    background: linear-gradient(135deg, rgba(51, 51, 51, 0.7) 0%, rgba(0, 153, 115, 0.1) 100%)
    backdrop-filter: blur(6px)
    border: 1px solid $accent-color
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5)
    padding: 20px

  &__input
    border: 1px solid $accent-color
    border-radius: 0
    width: 210px

    &:focus
      border-color: $accent-color
      box-shadow: 0 0 0 .15rem $accent-color-opacity-3

  &__error
    left: 0
    top: -24px
    font-weight: 600
    text-align: left
    color: $error-color

  &__button
    color: $accent-color
    font-weight: 600
    border: 1px solid $accent-color
    border-radius: 0
    transition: 0.7s

    &:hover
      background: $accent-color
      color: $primary-color

    &:active
      outline: none
      box-shadow: none
    &:focus
      outline: none
      box-shadow: none
