.hero
  width: 100%
  height: calc(100vh - 76px)
  height: calc(100dvh - 76px)
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.95) 25%, rgba(0, 0, 0, 0.85) 35%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0.15) 75%, rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0) 100%), url('../img/hero.webp') center/cover no-repeat
  padding: 80px 

  &__descr
    width: 80%

  
