@use 'variables' as *

.vin-modal
  h2
    color: $secondary-color
  &__contnent
    background: $tertiary-color
  button
    padding: .5rem .5rem
    margin: -.5rem -.5rem -.5rem auto
    background: none
    border: none

  &__btn
    // font-size: calc(0.8em + 0.5vw)
    width: 50px
    height: 50px
    border-radius: 6px
    transition: .3s
    cursor: pointer

    &:hover
      transform: scale(1.2)

  &__btn--telegram
    background: url(../icon/telegram_ico.webp) no-repeat center/cover
  &__btn--whatsup
    background: url(../icon/whatsup_ico.png) no-repeat center/cover
  &__btn--max
    background: url(../icon/max_ico.png) no-repeat center/cover
