@use 'variables' as *

.vin-modal
  &__contnent
    background: $tertiary-color
  
  &__btn
    width: 50px
    height: 50px
    border-radius: 8px
    transition: .3s
    cursor: pointer

    &:hover
      transform: scale(1.2)

  &__btn--telegram
    background: url(../icon/telegram_ico.webp) no-repeat center/cover
  &__btn--whatsup
    background: url(../icon/whatsup_ico.png) no-repeat center/cover
  &__btn--max
    background: url(../icon/max_ico.png) no-repeat center/cover

  
