@use 'normalize' as *
@use 'fonts' as *
@use 'variables' as *
@use 'mixins' as *
@use 'animations' as *

@use 'header' as *
@use 'hero' as *
@use 'vin-form' as *
@use 'modal' as *
@use 'advantages' as *
@use 'callback' as *
@use 'process' as *
@use 'catalogue' as *
@use 'reviews' as *
@use 'contacts' as *
@use 'footer' as *
html, body
  overflow-x: hidden
  max-width: 100%

body
  font-family: $family-base
  color: $secondary-color

  h2
    color: $primary-color
    font-weight: 600
    margin-bottom: 1em
  h4
    text-align: center

  .success-custom
    color: $success-color

  .was-validated .form-control:invalid
    border: 2px solid $error-color

  .was-validated .form-check-input:invalid
    background: $error-color
  

  .was-validated .form-check-input:valid~.form-check-label 
    color: $primary-color


  .form-control.is-valid, .was-validated .form-control:valid
    border: 2px solid $success-color

  .call-trigger

    transition: .5s
    z-index: 1500

    button
      background: transparent
      border: none
      padding: 0
      cursor: pointer

    svg
      animation: fa-shake 1s infinite linear
      width: 60px
      height: 60px
      background: transparrent
      color: $accent-color

  .call-trigger-bottom
    bottom: 100px
    @media (max-width: 700px)
      bottom: 50px

  .call-trigger-center
    top: 50%

  .pistons
    width: 100%
    max-width: 504px

  .piston
    will-change: transform
    transition: transform 0.05s linear
    flex: 1 1 0
    min-width: 0
    object-fit: contain
